<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"
	profile="real,dev">
		
	<context:annotation-config />

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="qnaList" class="mj.guri.controller.QnaListController">
	</bean>
	
	<bean id="qnaDetail" class="mj.guri.controller.QnaDetailController">
	</bean>
	
	<bean id="memberController" class="mj.guri.controller.MemberController">
	</bean>
	
	<bean id="login" class="mj.guri.controller.LoginController">
	</bean>
	
	<bean id="logout" class="mj.guri.controller.LogoutController">
	</bean>
	
	<bean id="qnaRegi" class="mj.guri.controller.QnaRegiController">
	</bean>
	
	<bean id="qnaModify" class="mj.guri.controller.QnaModifyController">
	</bean>
	
	<bean id="adminPage" class="mj.guri.controller.AdminController">
	</bean>
	
	<bean id="memberManage" class="mj.guri.controller.AdminMemberManageController">
	</bean>
	
	<bean id="qnaManage" class="mj.guri.controller.AdminQnaManageController">
	</bean>
	
	
<!-- 	<bean id="memberDao" class="mj.guri.dao.MemberDAO">
		<constructor-arg ref="dataSource"/>
	</bean>
	
	<bean id="diaryDao" class="mj.guri.dao.DiaryDAO">
		<constructor-arg ref="dataSource"/>
	</bean> -->
	
	


</beans>
